openapi: 3.0.3
info:
  title: Data API
  description: API for accessing company, profile, and job posting data
  version: 1.0.0
  contact:
    name: API Support
    email: support@luminik.io

servers:
  - url: https://api.data.luminik.io/v1
    description: Production server

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    PaginationPage:
      name: page
      in: query
      schema:
        type: integer
        default: 1
      description: Page number for pagination

    IncludeSubsidiaries:
      name: include_subsidiaries
      in: query
      description: Include data from subsidiary companies
      schema:
        type: boolean
        default: false

  PaginationLimit:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        maximum: 100
      description: Number of items per page

  schemas:
    Company:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Official company name
        type:
          type: string
          description: Company type or category
        industry:
          type: string
          description: Primary industry sector
        hq_country:
          type: string
          description: Country of headquarters
        website:
          type: string
          format: uri
          description: Company website URL
        founded:
          type: integer
          description: Year company was founded
        linkedin:
          type: object
          properties:
            url:
              type: string
              format: uri
              description: Full LinkedIn company URL
            slug:
              type: string
              description: LinkedIn URL identifier
        descriptions:
          type: object
          properties:
            short:
              type: string
              description: Brief company description
            long:
              type: string
              description: Detailed company description
        funding:
          type: object
          properties:
            lead_investors:
              type: string
              description: Names of lead investors
            investor_count:
              type: integer
              description: Total number of investors
            latest:
              type: object
              properties:
                year:
                  type: integer
                  description: Year of most recent funding
                amount_musd:
                  type: number
                  description: Latest funding amount in USD millions
                round:
                  type: string
                  description: Type of latest funding round
            total_equity_musd:
              type: number
              description: Total equity funding in USD millions
            post_money_valuation_musd:
              type: number
              description: Post-money valuation in USD millions
        metrics:
          type: object
          properties:
            is_serial_founder:
              type: boolean
              description: Indicates if founder has multiple ventures
            job_count:
              type: integer
              description: Total number of job positions
            employee_count:
              type: integer
              description: Total number of employees
        acquisition_info:
          type: object
          properties:
            parent_company:
              type: string
              description: Parent company name (if company is acquired)
            acquisition_date:
              type: string
              format: date
            acquisition_type:
              type: string
              enum: [acquisition, merge, management_buyout, lbo, acquihire]
            status:
              type: string
              enum: [ACTIVE, MERGED, ACQUIRED]
        subsidiaries:
          type: array
          description: List of subsidiary companies (if any)
          items:
            type: object
            properties:
              name:
                type: string
              domain:
                type: string
              acquisition_date:
                type: string
                format: date
              acquisition_type:
                type: string
                enum: [acquisition, merge, management_buyout, lbo, acquihire]

    Profile:
      type: object
      required:
        - employee_id
      properties:
        employee_id:
          type: string
          description: Unique identifier for each employee
        first_name:
          type: string
          description: Employee's first name
        last_name:
          type: string
          description: Employee's last name
        gender:
          type: string
          description: Employee's gender
        location:
          type: object
          description: Employee's location details
          properties:
            continent:
              type: string
              description: Continent of employee location
            country:
              type: string
              description: Country of employee location
            region:
              type: string
              description: Region/State within country
            locality:
              type: string
              description: City or specific locality
            geo:
              type: string
              description: Geographic coordinates in format 'latitude,longitude'
        summary:
          type: string
          description: Professional summary or bio
        linkedin_connections:
          type: integer
          description: Number of LinkedIn connections profile has
        linkedin_url:
          type: string
          description: URL to LinkedIn profile
        certifications:
          type: array
          description: List of professional certifications
          items:
            type: object
            properties:
              name:
                type: string
                description: Name of certification
        education_history:
          type: array
          description: List of educational experiences
          items:
            type: object
            properties:
              name:
                type: string
                description: Name of educational institution
              start_date:
                type: string
                format: date
                description: Start date of education
              end_date:
                type: string
                format: date
                description: End date of education
              degrees:
                type: string
                description: Degrees earned
              majors:
                type: string
                description: Major fields of study
              minors:
                type: string
                description: Minor fields of study
        skills:
          type: array
          description: List of professional skills
          items:
            type: object
            properties:
              name:
                type: string
                description: Name of skill
              type:
                type: string
                description: Type of skill
              category:
                type: string
                description: Main category of skill
              sub_category:
                type: string
                description: Sub-category of skill
              is_software:
                type: boolean
                description: Indicates if skill is software-related
        job_history:
          type: array
          description: List of employment experiences
          items:
            type: object
            properties:
              name:
                type: string
                description: Company name
              industry:
                type: string
                description: Company industry
              title:
                type: string
                description: Job title
              start_date:
                type: string
                format: date
                description: Employment start date
              end_date:
                type: string
                format: date
                description: Employment end date
              is_current:
                type: boolean
                description: Indicates if this is the current job
              index:
                type: integer
                description: Job sequence number in career history
        company_info:
          type: object
          properties:
            current_company:
              type: string
            parent_company:
              type: string
            company_domain:
              type: string

    JobPosting:
      type: object
      required:
        - job_posting_id
      properties:
        job_posting_id:
          type: string
          description: Unique identifier for the job posting
        company:
          type: string
          description: Name of the hiring company
        dates:
          type: object
          properties:
            posted_at:
              type: string
              format: date-time
              description: Posting date and time
            expired_at:
              type: string
              format: date-time
              description: Expiration date and time
        location:
          type: object
          properties:
            market:
              type: string
              description: Job market location
            nation_code:
              type: string
              description: Two-letter country code
            nation:
              type: string
              description: Full country name
        title:
          type: object
          properties:
            name:
              type: string
              description: Primary job title
            details:
              type: string
              description: Detailed job title
        skills:
          type: object
          properties:
            certifications:
              type: string
              description: Required certifications
            all:
              type: string
              description: All required skills
            specialized:
              type: string
              description: Specialized skills
            common:
              type: string
              description: Common skills
            software:
              type: string
              description: Software skills
        salary:
          type: object
          properties:
            from:
              type: number
              description: Minimum salary
            to:
              type: number
              description: Maximum salary
            average:
              type: number
              description: Average salary
        body:
          type: string
          description: Job description
        classification:
          type: object
          properties:
            occupation:
              type: string
              description: General occupation category
            detailed_occupation:
              type: string
              description: Detailed occupation category
            career_sector:
              type: string
              description: Career sector/area
        company_info:
          type: object
          properties:
            company_name:
              type: string
            parent_company:
              type: string
            company_domain:
              type: string

paths:
  /company:
    get:
      summary: List all companies
      parameters:
        # Pagination
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        
        # Filter Parameters
        - name: industry
          in: query
          schema:
            type: string
          description: Filter by industry sector
        - name: country
          in: query
          schema:
            type: string
          description: Filter by headquarters country
        - name: domain_exclude
          in: query
          schema:
            type: string
          description: Exclude companies with this domain
        - name: min_employees
          in: query
          schema:
            type: integer
            minimum: 0
          description: Minimum number of employees required
        - name: founded_after
          in: query
          schema:
            type: integer
          description: Filter companies founded after this year
        - name: has_funding
          in: query
          schema:
            type: boolean
          description: Filter companies with funding data
        - name: min_funding
          in: query
          schema:
            type: number
          description: Minimum total funding in USD millions
      responses:
        '200':
          description: List of companies
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Company'

  /company/{company_name}:
    get:
      summary: Get company details
      parameters:
        - name: company_name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Company details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
  /company/{domain}:
    get:
      summary: Get company details by domain
      parameters:
        - name: domain
          in: path
          required: true
          schema:
            type: string
          description: Company domain name (e.g., walmart.com)
        - name: include_subsidiaries
          in: query
          schema:
            type: boolean
            default: false
          description: Include data from subsidiary companies
      responses:
        '200':
          description: Company details
          content:
            application/json:
              schema:
                type: object
                properties:
                  company:
                    $ref: '#/components/schemas/Company'
                  subsidiaries:
                    type: array
                    items:
                      $ref: '#/components/schemas/Company'
                    description: Included only when include_subsidiaries=true
        '404':
          description: Company domain not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Company domain not found"
        '400':
          description: Invalid domain format
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid domain format"
  /company/{domain}/firmographics:
    get:
      summary: Get firmographic data for a company
      parameters:
        - name: domain
          in: path
          required: true
          schema:
            type: string
          description: Company domain name (e.g., walmart.com)
        - name: include_subsidiaries
          in: query
          schema:
            type: boolean
            default: false
          description: Include data from subsidiary companies
      responses:
        '200':
          description: Company firmographic data
          content:
            application/json:
              schema:
                type: object
                properties:
                  company_name:
                    type: string
                  employee_trends:
                    type: object
                    properties:
                      total_count:
                        type: object
                        properties:
                          current:
                            type: integer
                          historical:
                            type: array
                            items:
                              type: object
                              properties:
                                date:
                                  type: string
                                  format: date
                                count:
                                  type: integer
                  role_breakdown:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          description: Job title
                        count:
                          type: integer
                          description: Number of employees with this title
                  gender_distribution:
                    type: object
                    properties:
                      male:
                        type: number
                        description: Percentage of male employees
                      female:
                        type: number
                        description: Percentage of female employees
                      unknown:
                        type: number
                        description: Percentage of unknown gender
                  funding_information:
                    type: object
                    properties:
                      total_equity_funding_musd:
                        type: number
                        description: Total equity funding in USD millions
                      investor_count:
                        type: integer
                        description: Number of investors
                      latest_funding:
                        type: object
                        properties:
                          year:
                            type: integer
                            description: Year of most recent funding
                          amount_musd:
                            type: number
                            description: Latest funding amount in USD millions
                          round:
                            type: string
                            description: Type of latest funding round
                      post_money_valuation_musd:
                        type: number
                        description: Post-money valuation in USD millions
                  acquisition_history:
                    type: array
                    items:
                      type: object
                      properties:
                        acquired_company:
                          type: string
                        acquired_on:
                          type: string
                          format: date
                        acquisition_type:
                          type: string
                          enum: [acquisition, merge, management_buyout, lbo, acquihire]
                        price_usd:
                          type: number
                          description: Acquisition price in USD if available

        '404':
          description: Company not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Company not found"

  /profile:
    get:
      summary: List all profiles
      parameters:
        # Pagination
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        
        # Basic Filters
        - name: min_connections
          in: query
          schema:
            type: integer
            minimum: 0
          description: Minimum number of LinkedIn connections required
        - name: has_experience
          in: query
          schema:
            type: boolean
            default: true
          description: Filter out profiles without work experience
        
        # Experience Filters
        - name: min_experience
          in: query
          schema:
            type: number
            minimum: 0
          description: Minimum years of total work experience
        - name: max_experience
          in: query
          schema:
            type: number
          description: Maximum years of total work experience
        - name: experience_after
          in: query
          schema:
            type: string
            format: date
          description: Only consider experience after this date
        
        # Skills and Education
        - name: skills
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          description: Filter by required skills (comma-separated)
        - name: skill_categories
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          description: Filter by skill categories (comma-separated)
        
        # Title Filters
        - name: current_title
          in: query
          schema:
            type: string
          description: Filter by current job title
        - name: any_title
          in: query
          schema:
            type: string
          description: Filter by any job title in history
        
        # Location Filters
        - name: continent
          in: query
          schema:
            type: string
          description: Filter by continent
        - name: country
          in: query
          schema:
            type: string
          description: Filter by country
        - name: region
          in: query
          schema:
            type: string
          description: Filter by region/state
        - name: locality
          in: query
          schema:
            type: string
          description: Filter by city/locality
        
        # Company Filters
        - name: current_company
          in: query
          schema:
            type: string
          description: Filter by current company name
        - name: any_company
          in: query
          schema:
            type: string
          description: Filter by any company in work history
        - name: exclude_company_domain
          in: query
          schema:
            type: string
          description: Exclude profiles with this company domain
        
        # Education Filters
        - name: education_institution
          in: query
          schema:
            type: string
          description: Filter by education institution name
        - name: degree
          in: query
          schema:
            type: string
          description: Filter by degree type
        - name: major
          in: query
          schema:
            type: string
          description: Filter by field of study
        - name: education_after
          in: query
          schema:
            type: string
            format: date
          description: Filter by education start date after
        - name: education_before
          in: query
          schema:
            type: string
            format: date
          description: Filter by education end date before
      responses:
        '200':
          description: List of profiles
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Profile'

  /profile/{domain}:
    get:
      summary: Get profiles by company domain
      parameters:
        - name: domain
          in: path
          required: true
          schema:
            type: string
          description: Company domain name
        - name: include_subsidiaries
          in: query
          schema:
            type: boolean
            default: false
          description: Include profiles from subsidiary companies
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationLimit'
      responses:
        '200':
          description: List of profiles
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Profile'
                  metadata:
                    type: object
                    properties:
                      includes_subsidiaries:
                        type: boolean
        '404':
          description: Company domain not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Company domain not found"
        '400':
          description: Invalid domain format
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid domain format"

  /profile/{employee_id}:
    get:
      summary: Get profile details
      parameters:
        - name: employee_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Profile details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'

  /job-posting:
    get:
      summary: List all job postings
      parameters:
        # Pagination
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        
        # Company Filters
        - name: company
          in: query
          schema:
            type: string
          description: Filter by company name
        - name: exclude_company_domain
          in: query
          schema:
            type: string
          description: Exclude job postings from this company domain
        
        # Location Filters
        - name: market
          in: query
          schema:
            type: string
          description: Filter by job market
        - name: country
          in: query
          schema:
            type: string
          description: Filter by country (using nation_code)
        
        # Skill Filters
        - name: required_skills
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          description: Filter by required skills (comma-separated)
        - name: required_certifications
          in: query
          schema:
            type: string
          description: Filter by required certifications
        
        # Salary Filters
        - name: min_salary
          in: query
          schema:
            type: number
          description: Minimum salary requirement
        - name: max_salary
          in: query
          schema:
            type: number
          description: Maximum salary cap
        
        # Classification Filters
        - name: occupation
          in: query
          schema:
            type: string
          description: Filter by occupation category
        - name: career_sector
          in: query
          schema:
            type: string
          description: Filter by career sector
        
        # Date Filters
        - name: posted_after
          in: query
          schema:
            type: string
            format: date-time
          description: Filter jobs posted after this datetime
        - name: exclude_expired
          in: query
          schema:
            type: boolean
            default: true
          description: Exclude expired job postings
      responses:
        '200':
          description: List of job postings
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobPosting'

  /job-posting/{domain}:
    get:
      summary: Get job postings by company domain
      parameters:
        - name: domain
          in: path
          required: true
          schema:
            type: string
          description: Company domain name
        - name: include_subsidiaries
          in: query
          schema:
            type: boolean
            default: false
          description: Include job postings from subsidiary companies
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationLimit'
      responses:
        '200':
          description: List of job postings
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobPosting'
                  metadata:
                    type: object
                    properties:
                      includes_subsidiaries:
                        type: boolean
        '404':
          description: Company domain not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Company domain not found"
        '400':
          description: Invalid domain format
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid domain format"

  /job-posting/{job_posting_id}:
    get:
      summary: Get job posting details
      parameters:
        - name: job_posting_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Job posting details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobPosting'

security:
  - apiKey: []
