openapi: 3.0.3
info:
  title: Data API
  description: API for accessing company, profile, and job posting data
  version: 1.0.0
  contact:
    name: API Support
    email: support@luminik.io

servers:
  - url: https://api.data.luminik.io/v1
    description: Production server

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    PaginationPage:
      name: page
      in: query
      schema:
        type: integer
        default: 1
      description: Page number for pagination

    PaginationLimit:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        maximum: 100
      description: Number of items per page

    IncludeSubsidiaries:
      name: include_subsidiaries
      in: query
      description: Include data from subsidiary companies
      schema:
        type: boolean
        default: false

  schemas:
    Executive:
      type: object
      properties:
        first_name:
          type: string
          description: Executive's first name
        last_name:
          type: string
          description: Executive's last name
        current_title:
          type: string
          description: Current job title
        current_company:
          type: string
          description: Current company name
        previous_company:
          type: string
          description: Previous company name
        previous_title:
          type: string
          description: Previous job title
        linkedin_url:
          type: string
          description: LinkedIn profile URL
        location:
          type: object
          properties:
            country:
              type: string
            region:
              type: string
            locality:
              type: string

    EmployeeTrends:
      type: object
      properties:
        total_count:
          type: object
          properties:
            current:
              type: integer
              description: Current employee count
            historical:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  count:
                    type: integer

    JobMetrics:
      type: object
      properties:
        active_count:
          type: integer
          description: Number of currently active job postings
        expired_last_6_months:
          type: integer
          description: Number of job postings expired in last 6 months
        expired_last_1_year:
          type: integer
          description: Number of job postings expired in last year

    Subsidiary:
      type: object
      properties:
        company_name:
          type: string
          description: Subsidiary company name
        website:
          type: string
          description: Subsidiary website
        linkedin_slug:
          type: string
          description: LinkedIn slug for subsidiary
        linkedin_url:
          type: string
          description: Full LinkedIn URL for subsidiary

    DepartmentBreakdown:
      type: object
      properties:
        Engineering:
          type: integer
        Sales:
          type: integer
        Finance:
          type: integer
        HR:
          type: integer
        Leadership:
          type: integer
        Strategy_Analytics:
          type: integer
        Legal:
          type: integer
        Marketing:
          type: integer
        Operations:
          type: integer
        IT:
          type: integer
        Research_Development:
          type: integer
        Others:
          type: integer

    Firmographics:
      type: object
      properties:
        employee_trends:
          $ref: '#/components/schemas/EmployeeTrends'
        department_breakdown:
          $ref: '#/components/schemas/DepartmentBreakdown'
        gender_distribution:
          type: object
          properties:
            male:
              type: number
              description: Percentage of male employees
            female:
              type: number
              description: Percentage of female employees
            unknown:
              type: number
              description: Percentage of unknown gender
        funding_information:
          type: object
          properties:
            total_equity_funding_musd:
              type: number
              description: Total equity funding in USD millions
            investor_count:
              type: integer
              description: Number of investors
            latest_funding:
              type: object
              properties:
                year:
                  type: integer
                amount_musd:
                  type: number
                round:
                  type: string
            post_money_valuation_musd:
              type: number
        acquisition_history:
          type: array
          items:
            type: object
            properties:
              acquired_company:
                type: string
              acquired_on:
                type: string
                format: date
              acquisition_type:
                type: string
              price_usd:
                type: number

    CompanyResponse:
      type: object
      properties:
        is_parent:
          type: boolean
          description: Indicates if this is a parent company
        name:
          type: string
          description: Company name
        type:
          type: string
          description: Company type
        industry:
          type: string
          description: Industry sector
        hq_country:
          type: string
          description: Headquarters country
        website:
          type: string
          description: Company website
        founded:
          type: integer
          description: Founded year
        linkedin:
          type: object
          properties:
            url:
              type: string
            slug:
              type: string
        descriptions:
          type: object
          properties:
            short:
              type: string
            long:
              type: string
        metrics:
          type: object
          properties:
            employee_count:
              type: integer
            jobs:
              $ref: '#/components/schemas/JobMetrics'
        subsidiaries:
          type: array
          items:
            $ref: '#/components/schemas/Subsidiary'
        key_executives:
          type: array
          items:
            $ref: '#/components/schemas/Executive'
        firmographics:
          $ref: '#/components/schemas/Firmographics'
    
    Profile:
      type: object
      required:
        - employee_id
      properties:
        employee_id:
          type: string
          description: Unique identifier for the profile
        first_name:
          type: string
          description: First name of the person
        last_name:
          type: string
          description: Last name of the person
        gender:
          type: string
          description: Gender of the person
        location:
          type: object
          properties:
            continent:
              type: string
              description: Continent name
            country:
              type: string
              description: Country name
            region:
              type: string
              description: Region/State name
            locality:
              type: string
              description: City/locality name
            geo:
              type: string
              description: Geographic coordinates in format 'latitude,longitude'
        summary:
          type: string
          description: Professional summary
        linkedin_connections:
          type: integer
          description: Number of LinkedIn connections
        linkedin_url:
          type: string
          description: URL to LinkedIn profile
        certifications:
          type: array
          description: Professional certifications
          items:
            type: object
            properties:
              name:
                type: string
                description: Name of certification
        education_history:
          type: array
          description: Educational background
          items:
            type: object
            properties:
              name:
                type: string
                description: Name of educational institution
              start_date:
                type: string
                format: date
                description: Start date
              end_date:
                type: string
                format: date
                description: End date
              degrees:
                type: string
                description: Degrees earned
              majors:
                type: string
                description: Major fields of study
              minors:
                type: string
                description: Minor fields of study
        skills:
          type: array
          description: Professional skills
          items:
            type: object
            properties:
              name:
                type: string
                description: Name of skill
              type:
                type: string
                description: Type of skill
              category:
                type: string
                description: Category of skill
              sub_category:
                type: string
                description: Sub-category of skill
              is_software:
                type: boolean
                description: Indicates if skill is software-related
        job_history:
          type: array
          description: Employment history
          items:
            type: object
            properties:
              name:
                type: string
                description: Company name
              industry:
                type: string
                description: Industry
              title:
                type: string
                description: Job title
              start_date:
                type: string
                format: date
                description: Start date
              end_date:
                type: string
                format: date
                description: End date
              is_current:
                type: boolean
                description: Indicates if this is current position
              index:
                type: integer
                description: Position index in job history
        company_info:
          type: object
          properties:
            current_company:
              type: string
              description: Current company name
            parent_company:
              type: string
              description: Parent company name if applicable
            company_domain:
              type: string
              description: Company domain name

paths:
  /company/{linkedin_slug}:
    get:
      summary: Get company details by LinkedIn slug
      parameters:
        - name: linkedin_slug
          in: path
          required: true
          schema:
            type: string
          description: LinkedIn slug (e.g., snowflake-computing)
      responses:
        '200':
          description: Company details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
        '404':
          description: Company not found


  /company:
    post:
      summary: Get details for multiple companies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                linkedin_slugs:
                  type: array
                  items:
                    type: string
                  description: Array of LinkedIn slugs
      responses:
        '200':
          description: Multiple company details
          content:
            application/json:
              schema:
                type: object
                properties:
                  companies:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanyResponse'
  

  /profile:
    get:
      summary: List profiles
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationLimit'
        # Location Filters
        - name: continent
          in: query
          schema:
            type: string
          description: Filter by continent
        - name: country
          in: query
          schema:
            type: string
          description: Filter by country
        - name: region
          in: query
          schema:
            type: string
          description: Filter by region/state
        - name: locality
          in: query
          schema:
            type: string
          description: Filter by city/locality
        # Current Role Filters
        - name: current_company
          in: query
          schema:
            type: string
          description: Filter by current company name
        - name: current_title
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          description: Filter by current job titles (comma-separated)
        # Experience Filters
        - name: min_experience_years
          in: query
          schema:
            type: integer
            minimum: 0
          description: Minimum years of experience
        - name: has_experience_at
          in: query
          schema:
            type: string
          description: Filter profiles with experience at specific company
        # Skills Filters
        - name: required_skills
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          description: Filter by required skills (comma-separated)
        - name: skill_categories
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          description: Filter by skill categories (comma-separated)
      responses:
        '200':
          description: List of profiles
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Profile'

  /profile/{employee_id}:
    get:
      summary: Get profile by employee ID
      parameters:
        - name: employee_id
          in: path
          required: true
          schema:
            type: string
          description: Unique employee identifier
      responses:
        '200':
          description: Profile details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '404':
          description: Profile not found

  /profile/{linkedin_slug}:
    get:
      summary: Get profile by LinkedIn slug
      parameters:
        - name: linkedin_slug
          in: path
          required: true
          schema:
            type: string
          description: LinkedIn profile slug (e.g., 'john-doe-123abc' from linkedin.com/in/john-doe-123abc)
      responses:
        '200':
          description: Profile details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '404':
          description: Profile not found

  

security:
  - apiKey: []
