openapi: 3.0.3
info:
  title: Data API
  description: API for accessing company, profile, and job posting data
  version: 1.0.0
  contact:
    name: API Support
    email: support@luminik.io

servers:
  - url: https://api.data.luminik.io/v1
    description: Production server

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    PaginationPage:
      name: page
      in: query
      schema:
        type: integer
        default: 1
      description: Page number for pagination

    PaginationLimit:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        maximum: 100
      description: Number of items per page

  schemas:
    Executive:
      type: object
      properties:
        first_name:
          type: string
          description: Executive's first name
        last_name:
          type: string
          description: Executive's last name
        current_title:
          type: string
          description: Current job title
        current_company:
          type: string
          description: Current company name
        previous_company:
          type: string
          description: Previous company name
        previous_title:
          type: string
          description: Previous job title
        linkedin_url:
          type: string
          description: LinkedIn profile URL
        location:
          type: object
          properties:
            country:
              type: string
            region:
              type: string
            locality:
              type: string

    EmployeeTrends:
      type: object
      properties:
        current_count:
          type: integer
          description: Current employee count
        historical_monthly_counts:
          type: array
          description: 4-year employee history
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              count:
                type: integer

    DepartmentBreakdown:
      type: object
      properties:
        Engineering:
          type: integer
        Sales:
          type: integer
        Finance:
          type: integer
        HR:
          type: integer
        Leadership:
          type: integer
        Strategy_Analytics:
          type: integer
        Legal:
          type: integer
        Marketing:
          type: integer
        Operations:
          type: integer
        IT:
          type: integer
        Research_Development:
          type: integer
        Others:
          type: integer

    Firmographics:
      type: object
      properties:
        employee_trends:
          $ref: '#/components/schemas/EmployeeTrends'
        department_breakdown:
          $ref: '#/components/schemas/DepartmentBreakdown'
        gender_distribution:
          type: object
          properties:
            male:
              type: number
              description: Percentage of male employees
            female:
              type: number
              description: Percentage of female employees
            unknown:
              type: number
              description: Percentage of unknown gender
        funding_information:
          type: object
          properties:
            total_funding:
              type: number
              description: Total funding in USD millions
            investor_count:
              type: integer
              description: Number of investors
            latest_round:
              type: object
              properties:
                date:
                  type: string
                  format: date
                amount_musd:
                  type: number
                type:
                  type: string
            valuation:
              type: number
              description: Company valuation in USD millions
        acquisition_history:
          type: array
          items:
            type: object
            properties:
              acquired_company:
                type: string
              date:
                type: string
                format: date
              type:
                type: string
              value_musd:
                type: number
                description: Acquisition value in USD millions

    CompanyResponse:
      type: object
      properties:
        name:
          type: string
          description: Company name
        type:
          type: string
          description: Company type
        industry:
          type: string
          description: Industry sector
        hq_country:
          type: string
          description: Headquarters country
        website:
          type: string
          description: Company website
        founded:
          type: integer
          description: Founded year
        linkedin:
          type: object
          properties:
            url:
              type: string
            slug:
              type: string
        descriptions:
          type: object
          properties:
            short:
              type: string
              description: Short company description
            long:
              type: string
              description: Detailed company description
        metrics:
          type: object
          properties:
            employee_count:
              type: integer
              description: Current employee count
        subsidiaries:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              website:
                type: string
              linkedin_slug:
                type: string
              linkedin_url:
                type: string
        key_executives:
          type: array
          items:
            $ref: '#/components/schemas/Executive'
        firmographics:
          $ref: '#/components/schemas/Firmographics'
    
    Profile:
      type: object
      required:
        - employee_id
      properties:
        employee_id:
          type: string
          description: Unique identifier for the profile
        first_name:
          type: string
          description: First name of the person
        last_name:
          type: string
          description: Last name of the person
        gender:
          type: string
          description: Gender of the person
        location:
          type: object
          properties:
            continent:
              type: string
            country:
              type: string
            region:
              type: string
            locality:
              type: string
            geo:
              type: string
              description: Geographic coordinates in format 'latitude,longitude'
        summary:
          type: string
          description: Professional summary
        linkedin_connections:
          type: integer
          description: Number of LinkedIn connections
        linkedin_url:
          type: string
          description: URL to LinkedIn profile
        linkedin_slug:
          type: string
          description: LinkedIn profile slug
        certifications:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
        education_history:
          type: array
          items:
            type: object
            properties:
              institution:
                type: string
              start_date:
                type: string
                format: date
              end_date:
                type: string
                format: date
              degrees:
                type: string
              majors:
                type: string
              minors:
                type: string
        skills:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
              category:
                type: string
              sub_category:
                type: string
              is_software:
                type: boolean
        job_history:
          type: array
          items:
            type: object
            properties:
              company:
                type: string
              title:
                type: string
              start_date:
                type: string
                format: date
              end_date:
                type: string
                format: date
              industry:
                type: string
              is_current:
                type: boolean
        company_info:
          type: object
          properties:
            current_company:
              type: string
            parent_company:
              type: string
            company_domain:
              type: string

paths:
  /company:
    get:
      summary: List companies
      description: Retrieves a list of companies with pagination and filtering capabilities
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationLimit'
        - name: industry
          in: query
          schema:
            type: string
          description: Filter by industry sector
        - name: country
          in: query
          schema:
            type: string
          description: Filter by headquarters country
      responses:
        '200':
          description: List of companies
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  page:
                    type: integer
                  limit:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanyResponse'

  /company/{linkedin_slug}:
    get:
      summary: Get company details
      description: Retrieves comprehensive details about a specific company
      parameters:
        - name: linkedin_slug
          in: path
          required: true
          schema:
            type: string
          description: LinkedIn slug (e.g., snowflake-computing)
      responses:
        '200':
          description: Company details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
        '404':
          description: Company not found

  /profile:
    get:
      summary: List profiles
      description: Retrieves a paginated list of professional profiles with extensive filtering options
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationLimit'
        - name: min_connections
          in: query
          schema:
            type: integer
          description: Minimum LinkedIn connections
        - name: current_title
          in: query
          schema:
            type: string
          description: Current job title filter
        - name: current_company
          in: query
          schema:
            type: string
          description: Current company name
      responses:
        '200':
          description: List of profiles
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Profile'

  /profile/linkedin/{linkedin_slug}:
    get:
      summary: Get profile details
      description: Retrieves detailed information about a specific professional using their LinkedIn identifier
      parameters:
        - name: linkedin_slug
          in: path
          required: true
          schema:
            type: string
          description: LinkedIn profile slug
      responses:
        '200':
          description: Profile details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '404':
          description: Profile not found

security:
  - apiKey: []
