openapi: 3.0.3
info:
  title: Data API
  description: |
    API for accessing company, profile, and job posting data.
    
    All endpoints follow RESTful principles with company as the central domain model.
  version: 1.0.0
  contact:
    name: API Support
    email: support@luminik.io

servers:
  - url: https://api.data.luminik.io/v1
    description: Production server

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    Company:
      type: object
      required:
        - company_id
        - name
      properties:
        company_id:
          type: string
          description: Unique identifier for the company
        name:
          type: string
          description: Official company name
        type:
          type: string
          description: Company type or category
        industry:
          type: string
          description: Primary industry sector
        hq_country:
          type: string
          description: Country of headquarters
        website:
          type: string
          format: uri
          description: Company website URL
        founded:
          type: integer
          description: Year company was founded
        descriptions:
          type: object
          properties:
            short:
              type: string
            long:
              type: string
        funding:
          type: object
          properties:
            total_equity_musd:
              type: number
            post_money_valuation_musd:
              type: number
        metrics:
          type: object
          properties:
            employee_count:
              type: integer
            job_count:
              type: integer

    Profile:
      type: object
      required:
        - profile_id
      properties:
        profile_id:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        location:
          type: object
          properties:
            country:
              type: string
            region:
              type: string
            locality:
              type: string
        summary:
          type: string
        skills:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              category:
                type: string
        job_history:
          type: array
          items:
            type: object
            properties:
              company_id:
                type: string
              title:
                type: string
              is_current:
                type: boolean

    JobPosting:
      type: object
      required:
        - posting_id
        - company_id
      properties:
        posting_id:
          type: string
        company_id:
          type: string
        title:
          type: object
          properties:
            name:
              type: string
            details:
              type: string
        location:
          type: object
          properties:
            market:
              type: string
            nation:
              type: string
        skills:
          type: object
          properties:
            all:
              type: string
            specialized:
              type: string
        salary:
          type: object
          properties:
            from:
              type: number
            to:
              type: number
        classification:
          type: object
          properties:
            occupation:
              type: string
            career_sector:
              type: string

paths:
  /company:
    get:
      summary: List all companies
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: industry
          in: query
          schema:
            type: string
        - name: country
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of companies
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Company'

  /company/{company_id}:
    get:
      summary: Get company details
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Company details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'

  /company/{company_id}/profile:
    get:
      summary: List profiles associated with a company
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of profiles
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Profile'

  /company/{company_id}/job-posting:
    get:
      summary: List job postings from a company
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of job postings
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobPosting'

  /profile:
    get:
      summary: List all profiles
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: skill
          in: query
          schema:
            type: string
        - name: location
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of profiles
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Profile'

  /profile/{profile_id}:
    get:
      summary: Get profile details
      parameters:
        - name: profile_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Profile details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'

  /job-posting:
    get:
      summary: List all job postings
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: skill
          in: query
          schema:
            type: string
        - name: location
          in: query
          schema:
            type: string
        - name: career_sector
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of job postings
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobPosting'

  /job-posting/{posting_id}:
    get:
      summary: Get job posting details
      parameters:
        - name: posting_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Job posting details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobPosting'

security:
  - apiKey: []
